<%- include ('header') %>

<section class="section-intro bg-img padding-y-lg">
	<div class="row">
  <div class="col-sm-6 mx-auto">
   <article class="white text-center mb-5">
   	<h1 class="display-3">about</h1>
    
    <p>
       This example is a quick exercise to illustrate how
       the navbar and its contents work. Some navbars extend
       the width of the viewport, others are confined within...
       For positioning of navbars, checkout the Lorem ipsum 
       dolor sit amet, consectetur adipisicing elit, sed do 
       eiusmod tempor. Lorem ipsum dolor sit amet, consectetur 
       adipisicing elit, sed do eiusmod tempor incididunt ut 
       labore.
    </p>
    
   </article>

  </div> <!-- col.// -->
</div> <!-- row.// -->
</section>  <!-- section-intro.// -->
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer bg2">
	<div class="container">
<%- include ('footer') %>